.mainContainer {
    font-family: 'Lato', sans-serif;
}

.top-header .heading {
    margin-top: 35px;
    font-size: 35px;
}

.top-header .heading, .top-header .login {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.top-header .login {
    font-size: 20px;
    font-weight: normal;
}

.inputMainContainer{
    width: 90%;
    margin: 0px auto;
}

.inputContainer {
    margin: 30px 0px 20px 0px;
}

.inputContainer div {
    font-size: 15px;
    margin: 10px 0px;
    color: #000000;
}

.inputContainer input {
    width: 30%;
    padding: 10px 5px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
}

.btnContainer {
    text-align: center;
}

.btnContainer .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    background-color: #ffffff;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 5;
}

.btnGroup {
  text-align: center;
  display: block;
}
.btnGroup .btn1 {
    margin-top: 20px;
    width: 25%;
    background-color: #ffffff;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #000000;
}

.btnContainer .btn:hover, .btnGroup .btn1:hover {
    transition: all 1s ease;
    background-color: #FD763C;
    color: #ffffff;
}

.btnContainer div a {
    text-decoration: #000000 underline;
    color: #000000;
    font-size: 18px;
}

.btnContainer div a:hover {
    transition: all 1s ease;
    text-decoration: #FD763C underline;
    color: #FD763C;
}

.condition{
  text-align: center;
  font-size: 13;
  margin: 10px 0px 20px 0px;
}
